<VirtualHost *:80>
  ServerName <%=@admin_domain%>
  ServerAlias lively_click_loyalty
  DocumentRoot <%=@dir%>/admin/public/

  <Directory <%=@dir%>/admin/public/>
    Options FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

  <Directory ~ "\.svn">
    Order allow,deny
    Deny from all
  </Directory>

  <Directory ~ "\.git">
    Order allow,deny
    Deny from all
  </Directory>

  LogLevel info
  ErrorLog /var/log/apache2/lively_click_loyalty-error.log
  CustomLog /var/log/apache2/lively_click_loyalty-access.log combined
  CustomLog /var/log/apache2/lively_click_loyalty-ganglia.log ganglia

  FileETag none

  RewriteEngine On
</VirtualHost>

<VirtualHost *:80>
  ServerName <%=@public_domain%>
  DocumentRoot <%=@dir%>/public/www/

  <Directory <%=@dir%>/public/www/>
    Options FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

  <Directory ~ "\.svn">
    Order allow,deny
    Deny from all
  </Directory>

  <Directory ~ "\.git">
    Order allow,deny
    Deny from all
  </Directory>

  LogLevel info
  ErrorLog /var/log/apache2/lively_click_loyalty-error.log
  CustomLog /var/log/apache2/lively_click_loyalty-access.log combined
  CustomLog /var/log/apache2/lively_click_loyalty-ganglia.log ganglia

  FileETag none

  RewriteEngine On
</VirtualHost>
