var apiDomain = 'https://<%=@admin_domain%>/api';
var passwordResetUrl = 'https://<%=@admin_domain%>/password/email';
var facebookOauthUrl = "https://<%=@public_domain%>/auth/facebook.php?business_identifier=";
var twitterOauthUrl = "https://<%=@public_domain%>/auth/twitter.php?business_identifier=";
