<?php

define("APP_URL","http://<%=@public_domain%>/");
define("API_URL","http://<%=@admin_domain%>/api/");
define("FB_OAUTH_URL","<%=@fb_oauth_url%>"); //https://www.facebook.com/dialog/oauth?client_id=1493912617596039&scope=email&redirect_uri=http://gostamp.me/auth/facebook.phphttps://www.facebook.com/dialog/oauth?client_id=1493912617596039&scope=email&redirect_uri=http://gostamp.me/auth/facebook.php
define("TWITTER_CALLBACK_URL", APP_URL."auth/twitter.php");
